@import '../../App.scss';

.tip-container{
    background-color: $Verydarkcyan;
    margin: 1em 0.5em;
    border-radius: 1em;
    padding: 0 1.5em;
    color: $White;
}

.tip-amount-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tip-amount-label{
    display: flex;
    flex-direction: column;
}

.tip-subtitle{
    color: $Grayishcyan;
    font-size: small;
}
.tip-total{
    color: $Strongcyan;
    font-size: xx-large;
}

.reset-btn{
    border: none;
    border-radius: 0.5em;
    background-color: $Darkgrayishcyan;
    width: 100%;
    height: 2.5em;
    font-family: "Space Mono", monospace;
    font-size: large;
    cursor: pointer;
}
.btn-inactive{
    color: $Verydarkcyan;
    cursor: default;
}
.btn-active{
    background-color: $Strongcyan;
    color: $Verydarkcyan;
}
.tip-main{
    height: 85%;
}

@media (max-width: 425px) {
    .tip-container{
        padding: 0 1.5em 2em 1.5em ;
        color: $White;
        height: 35%;
        width: 80%;
        margin-bottom: 3em;
    }
}